<% @links.each do |link| %>
  <div class="link row clearfix">
    <h2>
      <%= link_to link.title, link %><br>
      <email class="author">Submitted <%= time_ago_in_words(link.created_at) %> by <%= link.user.email %></email>
    </h2>
  </div>
<% end %>

<div class="btn-group">
<a class="btn btn-defalt href=""></a>	

</div>